<div class="newsPage__Header">
  <img src="../../../assets/images/news-page.jpg" alt="News page header" />
  <h1>NEWS</h1>
</div>
<div class="newsPage__Wrapper contentWrapper">
  <div class="news__Toolbar">
    <div class="news__ToolbarSearch">
      <input
        type="text"
        pInputText
        [(ngModel)]="searchTerm"
        placeholder="Search keywords"
      />
    </div>
    <div class="news__ToolbarButtons">
      <button>SORT</button>
      <button>FILTER</button>
    </div>
  </div>
  <div class="news__List">
    @for (item of newsDetail; track item) {
    <div class="news__Item">
      <div class="news__ItemImage">
        <img src="../../../assets/images/mason-jar-lanterns.jpg" alt="News item" />
      </div>
      <div class="news__ItemContent">
        <h2>{{ item.title }}</h2>
        <p>{{ item.content }}</p>
        <a href="news/{{ item.id }}">Read more</a>
      </div>
    </div>
    }
  </div>
</div>
