<div class="profile-container" **ngIf = "user">
    <div class="profile-summary">
        <h1>{{user.name}}</h1>
        <p>{{user.username}}</p>
        <button **ngIf="isOwnProfile" (click)="navigateToCreateProject()">{{'profile.createProject' | translate}}</button>
    </div>
    <div class="profile-details">
        <h2>{{'profile.category' | translate}}</h2>
        <ul>
            <li **ngFor= "let category of user.category">
                {{category.name}}
                <button **ngIf="isOwnProfile" (click)="removeCategory(categoryId, userId)"></button>
            </li>
        </ul>
        <h2>{{'profile.publishedProjects' | translate}}</h2>
        <ul>
            <li **ngFor = "let projects of projects">{{projects.name}}</li>
        </ul>
        <h2>{{'profile.commAndLike' | translate}}</h2>
        <div class="dropdown">
            <button (click)="toggleCommentsLikes()">{{'profile.showCommAndLike' | translate}}</button>
            <div class="dropdown-content" **ngIf="showCommentsLikes">
            <h3>{{'profile.comments' | translate}}</h3>
            <ul>
                <li **ngFor = "let comment of comments">{{comment.cotent}}</li>
            </ul>
            <h3>{{'profile.likes' | translate}}</h3>
            <ul>
                <li **ngFor = "let like of likes">{{like.cotent}}</li>
            </ul>
            </div>
        </div>
    </div>
</div>