<form [formGroup]="profileForm" (ngSubmit) = "onSubmit()">
    <div>
        <label for="profileImage">{{'userSettings.profileImage' | translate}}</label>
        <input type="file" id = "profileImage" formControlName ="profileImage">
    </div>
    <div>
        <label for="name">{{'userSettings.name' | translate}}</label>
        <input type="text" id="name" formControlName = "name">
    </div>
    <div>
        <label for="userName">{{'userSettings.username' | translate}}</label>
        <input type="text" id="userName" formControlName = "userName">
    </div>
    <div>
        <label for="email">{{'userSettings.email' | translate}}</label>
        <input type="email" id = "email" formControlName = "email">
    </div>
    <div>
        <label for="password">{{'userSettings.password' | translate}}</label>
        <input type="text" id ="password" formControlName = "password">
    </div>
    <button type="submit" [disabled]="profileForm.invalid">Save</button>
</form>
