<div class="projectPage__Wrapper contentWrapper">
  <div class="projectPage__Content">
    <div class="projectPage__Header">
      <i>{{ project?.user?.username }}</i>
      <h1>{{ project?.title }}</h1>
      <div class="projectPage__Features">
        <div class="buttons">
          <button (click)="likeProject()">
            <i class="pi pi-thumbs-up"></i>
            <span>{{ project?.userLikes?.length }}</span>
          </button>
          <button (click)="inFavorites = !inFavorites">
            @if(inFavorites){
            <i class="pi pi-bookmark-fill"></i>
            } @else {
            <i class="pi pi-bookmark"></i>
            }
            <span>
              {{ inFavorites ? "Remove from Favorites" : "Add to favorites" }}
            </span>
          </button>
        </div>
        <div class="features">
          <span
            >{{ project?.category?.name }},
            {{ project?.complexity?.name }}</span
          >
        </div>
      </div>
      <p>{{ project?.description }}</p>
      <img
        src="../../../assets/images/mason-jar-lanterns.jpg"
        alt="Project image"
      />
    </div>

    <p>{{ project?.content }}</p>
  </div>
</div>

<app-comments [comments]="project?.comments"></app-comments>
