@if(project) {
<div class="projectPage__Wrapper contentWrapper">
  <div class="projectPage__Content">
    <div class="projectPage__Header">
      <i>{{ project.user.username }}</i>
      <h1>{{ project.title }}</h1>
      <div class="projectPage__Features">
        <div class="buttons">
          <button (click)="addRemoveLike()" [disabled]="!isUserLoggedIn">
            @if(liked){
            <i class="pi pi-thumbs-up-fill"></i>
            } @else {
            <i class="pi pi-thumbs-up"></i>
            }
            <span>{{ project.userLikes.length }}</span>
          </button>
          <button *ngIf="isUserLoggedIn" (click)="addRemoveFavorite()">
            @if(inFavorites){
            <i class="pi pi-bookmark-fill"></i>
            } @else {
            <i class="pi pi-bookmark"></i>
            }
            <span>
              {{ inFavorites ? ("favorites.removeF" | translate) : ("favorites.addF" | translate) }}
            </span>
          </button>
        </div>
        <div class="features">
          <span
            >{{ project.category.name }}, {{ project.complexity.name }}</span
          >
        </div>
      </div>
      <p>{{ project.description }}</p>
      <img
        src="../../../assets/images/mason-jar-lanterns.jpg"
        alt="Project image"
      />
    </div>

    <p>{{ project.content }}</p>
  </div>
</div>

<div class="comments__Wrapper contentWrapper">
  <div class="comments__Subtitle">
    <h2>{{"comments.comments" | translate }} ({{ project.comments.length }})</h2>
  </div>

  @if(project.comments.length === 0) {
  <div class="comments__Empty">
    <p>{{"comments.commentsEmpty" | translate }}</p>
  </div>
  } @else {
  <div class="comments__Container">
    <app-comments [comments]="project.comments"></app-comments>
    <div *ngIf="isUserLoggedIn" class="comments__AddComment">
      <textarea
        [(ngModel)]="newComment"
        placeholder="{{'comments.writeComments' | translate}}"
      ></textarea>
      <button (click)="addComment()">{{"comments.addComment" | translate }}</button>
    </div>
  </div>
  }
</div>

}
