<div class="comments__Wrapper contentWrapper">
  <div class="comments__Subtitle">
    <h2>Comments ({{ comments?.length }})</h2>
  </div>

  @if(comments?.length === 0) {
  <div class="comments__Empty">
    <p>No comments yet</p>
  </div>
  } @else {
  <div class="comments__Container">
    @for (comment of comments; track comment) {
    <div class="comment">
      <div>
        <i>{{ comment.user.username }}</i>
        <i>{{ comment.commentTime.slice(0, 10) }}</i>
      </div>
      <p>{{ comment.comment }}</p>
    </div>
    }
  </div>
  }
</div>
