<div class="loginPage__Container">
  <div class="loginPage__FormContainer">
    <div class="loginPage__BackButton">
      <i class="pi pi-arrow-left"></i>
      <a href="">{{'login.back' | translate}}</a>
    </div>
    <h2>{{'login.login' | translate}}</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <input
        type="text"
        pInputText
        formControlName="email"
        placeholder="Email"
      />
      <input
        type="password"
        pInputText
        formControlName="password"
        placeholder="Password"
      />
      <i>{{'login.message' | translate}} <a href="registration">{{'login.register' | translate}}</a></i>
      <button type="submit" label="Login">{{'login.submit' | translate}}</button>
    </form>
  </div>
  <div class="loginPage__ImageContainer">
    <img src="../../../assets/images/login-page.jpg" alt="Login Page Image" />
  </div>
</div>
