<div class="homePage__Header">
  <div class="homePage__HeaderTitle">
    <p>DIY Projects and Crafts Hub</p>
    <h1>
      Crafting Connections, <br />
      One Project at a Time
    </h1>
    <button>DISCOVER</button>
  </div>
  <div class="homePage__HeaderImage">
    <img src="../../../assets/images/home-page.jpg" alt="" />
  </div>
</div>

<div class="homePage__Offers contentWrapper">
  <div class="homePage__OffersImage">
    <div class="homePage__OffersImageInner">
      <img
        src="../../../assets/images/news-placeholder.jpg"
        alt="What we offer"
      />
    </div>
  </div>
  <div class="homePage__OffersText">
    <h2>What we offer:</h2>
    <ul>
      <li>Discover crafts and projects</li>
      <li>Add your favorites</li>
      <li>Follow creators</li>
      <li>Comment, like and post projects</li>
      <li>Get started with tutorials</li>
      <li>Read the latest news on your topics</li>
      <li>Personalized feed</li>
    </ul>
  </div>
</div>

<div class="homePage__Discover contentWrapper">
  <h1>DISCOVER</h1>
</div>

<div class="homePage__Slider contentWrapper">
  <h4>PROJECTS</h4>
  <app-homepage-slider></app-homepage-slider>
</div>

<div class="homePage__Search contentWrapper">
  <h4>SEARCH</h4>
  <app-homepage-search></app-homepage-search>
</div>
