<app-homepage-header></app-homepage-header>

<div class="homePage__Offers contentWrapper">
  <app-homepage-offers></app-homepage-offers>
</div>

<div class="homePage__Discover contentWrapper">
  <h1>{{ "home.discover" | translate }}</h1>
</div>

<div class="homePage__Slider contentWrapper">
  <h4>{{ "home.forYou" | translate }}</h4>
  <app-homepage-slider></app-homepage-slider>
</div>

<div class="homePage__Search contentWrapper">
  <h4>{{ "home.search" | translate }}</h4>
  <app-homepage-search></app-homepage-search>
</div>
