<div class="registerPage__Container">
  <div class="registerPage__FormContainer">
    <div class="registerPage__BackButton">
      <i class="pi pi-arrow-left"></i>
      <a href="">{{'register.back' | translate}}</a>
    </div>
    <h2>{{'register.register' | translate}}</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <input type="text" pInputText formControlName="name" placeholder="Name" />
      <input
        type="text"
        pInputText
        formControlName="username"
        placeholder="Username"
      />
      <input
        type="text"
        pInputText
        formControlName="email"
        placeholder="Email"
      />
      <input
        type="password"
        pInputText
        formControlName="password"
        placeholder="Password"
      />
      <input
        type="password"
        pInputText
        formControlName="confirmPassword"
        placeholder="Confirm Password"
      />
      <i>{{'register.message' | translate}} <a href="login">{{'register.login' | translate}}</a></i>
      <button type="submit" label="Register">{{'register.submit' | translate}}</button>
    </form>
  </div>
  <div class="registerPage__ImageContainer">
    <img
      src="../../../assets/images/register-page.jpg"
      alt="Login Page Image"
    />
  </div>
</div>
