<div class="projectForm">
  <div class="projectForm__Container">
    <div class="projectForm__FormContainer">
      <h2>Create Project</h2>
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <label for="title">Title</label>
        <input id="title" formControlName="title" type="text" />
        <ul
          class="form__Errors"
          *ngIf="title && title.invalid && (title.dirty || title.touched)"
        >
          <li class="form__Error" *ngIf="title?.errors?.['required']">
            Title is required.
          </li>
        </ul>

        <label for="content">Content</label>
        <textarea id="content" formControlName="content"></textarea>
        <ul
          class="form__Errors"
          *ngIf="
            content && content.invalid && (content.dirty || content.touched)
          "
        >
          <li class="form__Error" *ngIf="content?.errors?.['required']">
            Content is required.
          </li>
        </ul>

        <label for="description">Description</label>
        <textarea id="description" formControlName="description"></textarea>
        <ul
          class="form__Errors"
          *ngIf="
            description &&
            description.invalid &&
            (description.dirty || description.touched)
          "
        >
          <li class="form__Error" *ngIf="description?.errors?.['required']">
            Description is required.
          </li>
        </ul>

        <label for="category">Category</label>
        <select id="category" formControlName="category">
          <option *ngFor="let category of categoryTags" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
        <ul
          class="form__Errors"
          *ngIf="
            category && category.invalid && (category.dirty || category.touched)
          "
        >
          <li class="form__Error" *ngIf="category?.errors?.['required']">
            Category is required.
          </li>
        </ul>

        <label for="complexity">Complexity</label>
        <select id="complexity" formControlName="complexity">
          <option
            *ngFor="let complexity of complexityTags"
            [value]="complexity.id"
          >
            {{ complexity.name }}
          </option>
        </select>
        <ul
          class="form__Errors"
          *ngIf="
            complexity &&
            complexity.invalid &&
            (complexity.dirty || complexity.touched)
          "
        >
          <li class="form__Error" *ngIf="complexity?.errors?.['required']">
            Complexity is required.
          </li>
        </ul>

        <button type="submit">Submit</button>
      </form>

      <div *ngIf="submitMessage" class="projectForm__SubmitMessage">
        {{ submitMessage }}
      </div>
    </div>
  </div>
</div>
<p-toast />
