<div class="projectForm">
  <div class="projectForm__Container">
    <div class="projectForm__FormContainer">
      <h2>Create Project</h2>
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <label for="title">{{"projectForm.title" | translate }}</label>
        <input id="title" formControlName="{{'projectFomr.title' | translate}}" type="text" />
        <ul
          class="form__Errors"
          *ngIf="title && title.invalid && (title.dirty || title.touched)"
        >
          <li class="form__Error" *ngIf="title?.errors?.['required']">
            {{"projectFomr.titlereq" | translate }}
          </li>
        </ul>

        <label for="content">{{"projcetForm.content" | translate}}</label>
        <textarea id="content" formControlName="{{'projectForm.content' | translate }}"></textarea>
        <ul
          class="form__Errors"
          *ngIf="
            content && content.invalid && (content.dirty || content.touched)
          "
        >
          <li class="form__Error" *ngIf="content?.errors?.['required']">
            {{"projectFomr.contentreq" | translate }}
          </li>
        </ul>

        <label for="description">{{"projectForm.description" | translate }}</label>
        <textarea id="description" formControlName="{{'projectForm.description' | translate }}"></textarea>
        <ul
          class="form__Errors"
          *ngIf="
            description &&
            description.invalid &&
            (description.dirty || description.touched)
          "
        >
          <li class="form__Error" *ngIf="description?.errors?.['required']">
            {{"projectForm.descriptionreq" | translate }}
          </li>
        </ul>

        <label for="category">{{"projectForm.category" | translate }}</label>
        <select id="category" formControlName="{{'projcetForm.category' | translate }}">
          <option *ngFor="let category of categoryTags" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
        <ul
          class="form__Errors"
          *ngIf="
            category && category.invalid && (category.dirty || category.touched)
          "
        >
          <li class="form__Error" *ngIf="category?.errors?.['required']">
            {{"projectForm.categoryreq" | translate}}
          </li>
        </ul>

        <label for="complexity">{{"projectForm.complexity" | translate }}</label>
        <select id="complexity" formControlName="{{'projectForm.complexity' | translate }}">
          <option
            *ngFor="let complexity of complexityTags"
            [value]="complexity.id"
          >
            {{ complexity.name }}
          </option>
        </select>
        <ul
          class="form__Errors"
          *ngIf="
            complexity &&
            complexity.invalid &&
            (complexity.dirty || complexity.touched)
          "
        >
          <li class="form__Error" *ngIf="complexity?.errors?.['required']">
            {{"projectForm.complexityreq" | translate }}
          </li>
        </ul>

        <button type="submit">{{"projectForm.submit" | translate }}</button>
      </form>

      <div *ngIf="submitMessage" class="projectForm__SubmitMessage">
        {{ submitMessage }}
      </div>
    </div>
  </div>
</div>
<p-toast />
